{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ======================== Breadcrumb Four Section Start ===================== -->
<section class="breadcrumb breadcrumb-four padding-static-y-60 section-bg position-relative z-index-1 overflow-hidden">

    <img src="{% static 'assets/images/gradients/breadcrumb-gradient-bg.png' %}" alt="" class="bg--gradient">

    <img src="{% static 'assets/images/shapes/element-moon3.png' %}" alt="" class="element one">
    <img src="{% static 'assets/images/shapes/element-moon1.png' %}" alt="" class="element three">

    <div class="container container-two">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb-four-content">
                    <h3 class="breadcrumb-four-content__title text-center mb-3 text-capitalize">Saralanganlar</h3>
                    <ul class="breadcrumb-list flx-align justify-content-center gap-2 mb-2">
                        <li class="breadcrumb-list__item font-14 text-body">
                            <a href="{% url 'index' %}" class="breadcrumb-list__link text-body hover-text-main">Bosh sahifa</a>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__icon font-10"><i class="fas fa-chevron-right"></i></span>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__text">Mening saralanganlarim</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Breadcrumb Four Section End ===================== -->
<!-- ======================= Cart Section Start ======================== -->
<div class="cart padding-y-120">
    <div class="container">
        <div class="cart-content">
            <div class="table-responsive">
                <table class="table style-two">
                    <thead>
                      <tr>
                        <th>Mahsulot tafsilotlari</th>
                        <th>Narx</th>
                        <th>Amallar</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for product in wishlist_products %}
                      <tr>
                        <td>
                            <div class="cart-item">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="cart-item__thumb">
                                        <a href="{% url 'product_detail' product.product.code %}" class="link">
                                            {% if product.product.image %}
                                            <img src="{{product.product.image.url}}" alt="" class="cover-img">
                                            {% else %}
                                            <img src="{% static 'assets/images/thumbs/product-img1.png' %}" alt="" class="cover-img">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="cart-item__content">
                                        <h6 class="cart-item__title font-heading fw-700 text-capitalize font-18 mb-4"> <a href="{% url 'product_detail' product.product.code %}" class="link">{{product.product.name}}</a></h6>
                                        <span class="cart-item__price font-18 text-heading fw-500">Kategoriya: <span class="text-body font-14">{{product.product.category.name}}</span></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="cart-item__totalPrice text-body font-18 fw-400 mb-0">${{product.product.price}}</span>
                        </td>
                        <td>
                            <div class="flx-align gap-2">
                                <a href="{% url 'add_to_cart' product.product.code %}" type="button" class="btn btn-main btn-sm pill">Savatga qo'shish</a>
                                <a href="{% url 'delete_wishlist' product.product.code %}" type="button" class="btn btn-danger btn-sm pill">O'chirish</a>
                            </div>
                        </td>
                      </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<!-- ======================= Cart Section End ======================== -->



{% endblock %}
