<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> Digital Market Place HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon-two.png' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <!-- Slick -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <!-- line awesome -->
    <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

</head>

<body>

    <!--==================== Preloader Start ====================-->
    <div class="loader-mask">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!--==================== Preloader End ====================-->

    <!--==================== Overlay Start ====================-->
    <div class="overlay"></div>
    <!--==================== Overlay End ====================-->

    <!--==================== Sidebar Overlay End ====================-->
    <div class="side-overlay"></div>
    <!--==================== Sidebar Overlay End ====================-->

    <!-- ==================== Scroll to Top End Here ==================== -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- ==================== Scroll to Top End Here ==================== -->

    <!-- ==================== Mobile Menu Start Here ==================== -->
    <div class="mobile-menu d-lg-none d-block">
        <button type="button" class="close-button"> <i class="las la-times"></i> </button>
        <div class="mobile-menu__inner">
            <a href="{% url 'index' %}" class="mobile-menu__logo">
                <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo">
            </a>
            <div class="mobile-menu__menu">

                        <a href="{% url 'index' %}" class="nav-menu__link">Bosh sahifa</a>
                        <a href="all-product.html" class="nav-menu__link">Mahsulotlar</a>
                        <a href="javascript:void(0)" class="nav-menu__link">Sahifalar</a>
                        <a href="{% url 'profile' %}" class="nav-submenu__link"> Profil</a>
                        <a href="{% url 'cart' %}" class="nav-submenu__link"> Savat</a>
                        <a href="cart-personal.html" class="nav-submenu__link"> Pochta manzili</a>
                        <a href="cart-payment.html" class="nav-submenu__link"> To'lov usuli</a>
                        <a href="cart-thank-you.html" class="nav-submenu__link"> Buyurtmani ko'rish</a>
                        <a href="dashboard.html" class="nav-submenu__link"> Boshqaruv paneli</a>
                    <li class="nav-menu__item has-submenu">
                        <a href="javascript:void(0)" class="nav-menu__link">Blog</a>
                        <ul class="nav-submenu">
                            <li class="nav-submenu__item">
                                <a href="blog.html" class="nav-submenu__link"> Blog</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="blog-details.html" class="nav-submenu__link"> Blog tafsilotlari</a>
                            </li>
                            <li class="nav-submenu__item">
                                <a href="blog-details-sidebar.html" class="nav-submenu__link"> Yon panel bilan blog tafsilotlari</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-menu__item">
                        <a href="contact.html" class="nav-menu__link">Aloqa</a>
                    </li>
                </ul>
                <div class="header-right__inner d-lg-none my-3 gap-1 d-flex flx-align">


                    {% if user.is_authenticated %}
                    <a href="#" class="btn btn-main pill">
                        <span class="icon-left icon">
                            <img src="{% static 'assets/images/icons/user.svg' %}" alt="">
                        </span>Profil
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-main pill">
                        <span class="icon-left icon">
                            <img src="{% static 'assets/images/icons/user.svg' %}" alt="">
                        </span>Kirish
                    </a>
                    {% endif %}


                    <div class="language-select flx-align select-has-icon">
                        <img src="{% static 'assets/images/icons/globe.svg' %}" alt="" class="globe-icon">
                        <select class="select py-0 ps-2 border-0 fw-500">
                            <option value="1">Eng</option>
                            <option value="2">Bn</option>
                            <option value="3">Eur</option>
                            <option value="4">Urd</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== Mobile Menu End Here ==================== -->

    <main class="change-gradient">
        <!-- ==================== Header Start Here ==================== -->
        <header class="header">
            <div class="container container-full">
                <nav class="header-inner flx-between">
                    <!-- Logo Start -->
                    <div class="logo">
                        <a href="{% url 'index' %}" class="link">
                            <img src="{% static 'assets/images/logo/logo-two.png' %}" alt="Logo">
                        </a>
                    </div>
                    <!-- Logo End  -->

                    <!-- Menu Start  -->
                    <div class="header-menu d-lg-block d-none">

                        <ul class="nav-menu flx-align ">
                            <li class="nav-menu__item has-submenu">
                                <a href="#" class="nav-menu__link">Bosh sahifa</a>
                            </li>
                            <li class="nav-menu__item has-submenu">
                                <a href="javascript:void(0)" class="nav-menu__link">Mahsulotlar</a>
                                <ul class="nav-submenu">
                                    <li class="nav-submenu__item">
                                        <a href="{% url 'index' %}" class="nav-submenu__link"> Barcha mahsulotlar</a>
                                    </li>
                                    <li class="nav-submenu__item">
                                        <a href="#" class="nav-submenu__link"> Mahsulot tafsilotlari</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-menu__item has-submenu">
                                <a href="javascript:void(0)" class="nav-menu__link">Sahifalar</a>
                                <ul class="nav-submenu">
                                    <li class="nav-submenu__item">
                                        <a href="{% url 'profile' %}" class="nav-submenu__link"> Profil</a>
                                    </li>
                                    <li class="nav-submenu__item">
                                        <a href="{% url 'cart' %}" class="nav-submenu__link"> Savat</a>
                                    </li>
                                    <li class="nav-submenu__item">
                                        <a href="cart-personal.html" class="nav-submenu__link"> Pochta manzili</a>
                                    </li>
                                    <li class="nav-submenu__item">
                                        <a href="cart-payment.html" class="nav-submenu__link"> To'lov usuli</a>
                                    </li>
                                    <li class="nav-submenu__item">
                                        <a href="cart-thank-you.html" class="nav-submenu__link"> Buyurtmani ko'rish</a>
                                    </li>
                                    <li class="nav-submenu__item">
                                        <a href="dashboard.html" class="nav-submenu__link"> Boshqaruv paneli</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Menu End  -->

                    <!-- Header Right start -->
                    <div class="header-right flx-align">
                        <a href="{% url 'cart' %}" class="header-right__button cart-btn position-relative">
                            <img src="{% static 'assets/images/icons/cart.svg' %}" alt="">
                            <span class="qty-badge font-12">
                                {% if user.is_authenticated %}
                                    {{ user.cart_items_count }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </a>
                        <a href="{% url 'wishlist' %}" class="header-right__button cart-btn position-relative">

                            <i class="fa fa-heart" style="font-size:24px;color:red"></i>
                            <span class="qty-badge font-12">
                                {% if user.is_authenticated %}
                                    {{ user.wishlist_set.count }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </a>
                        <div class="header-right__inner gap-3 flx-align d-lg-flex d-none">

                            {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="btn btn-main pill">
                                <span class="icon-left icon">
                                    <img src="{% static 'assets/images/icons/user.svg' %}" alt="">
                                </span>Profil
                            </a>
                            {% else %}
                            <a href="{% url 'login' %}" class="btn btn-main pill">
                                <span class="icon-left icon">
                                    <img src="{% static 'assets/images/icons/user.svg' %}" alt="">
                                </span>Kirish
                            </a>
                            {% endif %}


                            <button type="button" class="toggle-mobileMenu d-lg-none"> <i class="las la-bars"></i>
                            </button>
                        </div>
                        <!-- Header Right End  -->
                </nav>
            </div>
        </header>
        <!-- ==================== Header End Here ==================== -->


        {% block content %}
        {% endblock %}





        <!-- ==================== Footer Start Here ==================== -->
        <footer class="footer ">
            <img src="{% static 'assets/images/shapes/pattern.png' %}" alt="" class="bg-pattern">
            <img src="{% static 'assets/images/shapes/element1.png' %}" alt="" class="element one">
            <img src="{% static 'assets/images/shapes/element2.png' %}" alt="" class="element two">
            <img src="{% static 'assets/images/gradients/footer-gradient.png' %}" alt="" class="bg--gradient">

            <div class="container container-two">
                <div class="row gy-5">
                    <div class="col-xl-3 col-sm-6">
                        <div class="footer-item">
                            <div class="footer-item__logo">
                                <a href="{% url 'index' %}"> <img src="{% static 'assets/images/logo/white-logo.png' %}" alt=""></a>
                            </div>
                            <p class="footer-item__desc">Lorem consultancy elitsed do eiusmod tempor inci didunt ut
                                labore dolore magna aliqua sed do eiusmod.</p>
                            <div class="footer-item__social">
                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="https://www.facebook.com" class="social-list__link flx-center"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.twitter.com" class="social-list__link flx-center"> <i
                                                class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.linkedin.com" class="social-list__link flx-center"> <i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.pinterest.com" class="social-list__link flx-center"> <i
                                                class="fab fa-pinterest-p"></i></a>
                                    </li>
                                    <li class="social-list__item">
                                        <a href="https://www.pinterest.com" class="social-list__link flx-center"> <i
                                                class="fab fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-xs-6">
                        <div class="footer-item">
                            <h5 class="footer-item__title">Foydali havolalar</h5>
                            <ul class="footer-menu">
                                <li class="footer-menu__item"><a href="{% url 'index' %}"
                                        class="footer-menu__link">Mahsulotlar </a></li>
                                <li class="footer-menu__item"><a href="#"
                                        class="footer-menu__link">Mahsulot tafsilotlari</a></li>
                                <li class="footer-menu__item"><a href="{% url 'profile' %}" class="footer-menu__link">Profil
                                    </a></li>
                                <li class="footer-menu__item"><a href="{% url 'cart' %}" class="footer-menu__link">Savat</a></li>
                                <li class="footer-menu__item"><a href="dashboard.html"
                                        class="footer-menu__link">Boshqaruv paneli</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-1 d-xl-block d-none"></div>
                    <div class="col-xl-2 col-sm-6 col-xs-6">
                        <div class="footer-item">
                            <h5 class="footer-item__title">Tezkor havolalar</h5>
                            <ul class="footer-menu">
                                <li class="footer-menu__item"><a href="dashboard.html"
                                        class="footer-menu__link">Boshqaruv paneli </a></li>
                                <li class="footer-menu__item"><a href="{% url 'login' %}" class="footer-menu__link">Kirish </a>
                                </li>
                                <li class="footer-menu__item"><a href="{% url 'register' %}"
                                        class="footer-menu__link">Ro'yxatdan o'tish</a></li>
                                <li class="footer-menu__item"><a href="blog.html" class="footer-menu__link">Blog </a>
                                </li>
                                <li class="footer-menu__item"><a href="blog-details.html" class="footer-menu__link">Blog
                                        tafsilotlari</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="footer-item">
                            <h5 class="footer-item__title">Obuna bo'lish</h5>
                            <p class="footer-item__desc">Eng so'nggi yangiliklardan xabardor bo'lish uchun axborotnomamizga obuna bo'ling</p>
                            <form action="#" class="mt-4 subscribe-box d-flex align-items-center flex-column gap-2">
                                <input type="text" class="form-control common-input pill text-white"
                                    placeholder="Emailni kiriting">
                                <button type="submit" class="btn btn-main btn-lg w-100 pill">Hozir obuna bo'ling</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- bottom Footer -->
        <div class="bottom-footer">
            <div class="container container-two">
                <div class="bottom-footer__inner flx-between gap-3">
                    <p class="bottom-footer__text font-14"> Copyright &copy; 2024 DPmarket, All rights reserved.</p>
                    <div class="footer-links">
                        <a href="#" class="footer-link font-14">Foydalanish shartlari</a>
                        <a href="#" class="footer-link font-14">Maxfiylik siyosati</a>
                        <a href="contact.html" class="footer-link font-14">kukilar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==================== Footer End Here ==================== -->

    </main>

    <!-- Jquery js -->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="{% static 'assets/js/boostrap.bundle.min.js' %}"></script>
    <!-- CountDown -->
    <script src="{% static 'assets/js/countdown.js' %}"></script>
    <!-- counter up -->
    <script src="{% static 'assets/js/counterup.min.js' %}"></script>
    <!-- Slick js -->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    <!-- apex chart -->
    <script src="{% static 'assets/js/apexchart.js' %}"></script>

    <!-- main js -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    {% block extra_js %}{% endblock %}

</body>

</html>
