<!DOCTYPE html>
{% load static %}

<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <!-- Css -->
  <link rel="stylesheet" href="{% static 'assets2/assets/css/summernote/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'assets2/assets/css/jquery-selectric/selectric.css' %}">
  <link rel="stylesheet" href="{% static 'assets2/assets/css/bootstrap-tagsinput/bootstrap-tagsinput.css' %}">

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets2/assets/css/app.min.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets2/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets2/assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets2/assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href='{% static 'assets2/assets/img/favicon.ico' %}' />
  <link rel="stylesheet" href="{% static 'assets2/assets/bundles/izitoast/css/iziToast.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets2/assets/bundles/pretty-checkbox/pretty-checkbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets2/assets/bundles/prism/prism.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets2/assets/img/favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'assets2/assets/bundles/summernote/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'assets2/assets/bundles/jquery-selectric/selectric.css' %}">
  <link rel="stylesheet" href="{% static 'assets2/assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form id="global-search-form" class="form-inline mr-auto" action="{% url 'd_list_product' %}" method="get">
                <div class="search-element">
                  <input class="form-control" type="search" name="query" placeholder="Qidirish" aria-label="Qidirish" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
              class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
              <span class="badge headerBadge1">
                6 </span> </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
              <div class="dropdown-header">
                Xabarlar
                <div class="float-right">
                  <a href="#">Barchasini o'qilgan deb belgilash</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-message">
                <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar
											text-white"> <img alt="image" src="assets/img/users/user-1.png" class="rounded-circle">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">John
                      Deo</span>
                    <span class="time messege-text">Please check your mail !!</span>
                    <span class="time">2 Min Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" src="assets/img/users/user-2.png" class="rounded-circle">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
                      Smith</span> <span class="time messege-text">Request for leave
                      application</span>
                    <span class="time">5 Min Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" src="assets/img/users/user-5.png" class="rounded-circle">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Jacob
                      Ryan</span> <span class="time messege-text">Your payment invoice is
                      generated.</span> <span class="time">12 Min Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" src="assets/img/users/user-4.png" class="rounded-circle">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Lina
                      Smith</span> <span class="time messege-text">hii John, I have upload
                      doc
                      related to task.</span> <span class="time">30
                      Min Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" src="assets/img/users/user-3.png" class="rounded-circle">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Jalpa
                      Joshi</span> <span class="time messege-text">Please do as specify.
                      Let me
                      know if you have any query.</span> <span class="time">1
                      Days Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar text-white">
                    <img alt="image" src="assets/img/users/user-2.png" class="rounded-circle">
                  </span> <span class="dropdown-item-desc"> <span class="message-user">Sarah
                      Smith</span> <span class="time messege-text">Client Requirements</span>
                    <span class="time">2 Days Ago</span>
                  </span>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">Barchasini ko'rish <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
              class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i>
            </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
              <div class="dropdown-header">
                Bildirishnomalar
                <div class="float-right">
                  <a href="#">Barchasini o'qilgan deb belgilash</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread"> <span
                    class="dropdown-item-icon bg-primary text-white"> <i class="fas
												fa-code"></i>
                  </span> <span class="dropdown-item-desc"> Template update is
                    available now! <span class="time">2 Min
                      Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="far
												fa-user"></i>
                  </span> <span class="dropdown-item-desc"> <b>You</b> and <b>Dedik
                      Sugiharto</b> are now friends <span class="time">10 Hours
                      Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-success text-white"> <i
                      class="fas
												fa-check"></i>
                  </span> <span class="dropdown-item-desc"> <b>Kusnaedi</b> has
                    moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">12
                      Hours
                      Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-danger text-white"> <i
                      class="fas fa-exclamation-triangle"></i>
                  </span> <span class="dropdown-item-desc"> Low disk space. Let's
                    clean it! <span class="time">17 Hours Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="fas
												fa-bell"></i>
                  </span> <span class="dropdown-item-desc"> Otikaga hush kelibsiz! <span class="time">Yesterday</span>
                  </span>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">Barchasini ko'rish <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{% if request.user.photo %}{{ request.user.photo.url }}{% else %}{% static 'assets2/assets/img/user.png' %}{% endif %}"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Salom {{ request.user.username }}</div>
              <a href="{% url 'profile' %}" class="dropdown-item has-icon"> <i class="far fa-user"></i> Profil
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Chiqish
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'index' %}"> <img alt="image" src="{% static 'assets2/assets/img/logo.png' %}" class="header-logo" /> <span
                class="logo-name">Otika</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Asosiy</li>
            <li class="dropdown active">
              <a href="{% url 'd_index' %}" class="nav-link"><i data-feather="monitor"></i><span>Boshqaruv paneli</span></a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>Kategoriyalar</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'd_create_category' %}">Kategoriya yaratish</a></li>
                <li><a class="nav-link" href="{% url 'd_list_category' %}">Barcha Kategoriyalar</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>Maxsulotlar</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'd_create_product' %}">Maxsulot yaratish</a></li>
                <li><a class="nav-link" href="{% url 'd_list_product' %}">Barcha Maxsulotlar</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>Buyurtmalar</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'd_orders' %}">Barcha Buyurtmalar</a></li>
              </ul>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'd_orders' %}">No faol</a></li>
              </ul>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'd_orders' %}">Yig'ilmoqda</a></li>
              </ul>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'd_orders' %}">Yo'lda</a></li>
              </ul>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'd_orders' %}">Yetkazilgan</a></li>
              </ul>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'd_orders' %}">Bekor qilingan</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
      <!-- Main Content -->

      {% block content %}



      {% endblock %}


      <footer class="main-footer">
        <div class="footer-left">
          <a href="templateshub.net">Templateshub</a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'assets2/assets/js/app.min.js' %}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'assets2/assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'assets2/assets/js/page/index.js' %}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'assets2/assets/js/custom.js' %}"></script>
<!-- JS Libraies -->
  <script src="{% static 'assets2/assets/bundles/summernote/summernote-bs4.js' %}"></script>
  <script src="{% static 'assets2/assets/bundles/jquery-selectric/jquery.selectric.min.js' %}"></script>
  <script src="{% static 'assets2/assets/bundles/upload-preview/assets/js/jquery.uploadPreview.min.js' %}"></script>
  <script src="{% static 'assets2/assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'assets2/assets/js/page/create-post.js' %}?v=2.0"></script>
  <!-- Template JS File -->
  <script src="{% static 'assets2/assets/js/scripts.js' %}?v=2.0"></script>
  <!-- Custom JS File -->
  <script src="{% static 'assets2/assets/js/custom.js' %}"></script>
  <script src="{% static 'assets2/assets/bundles/prism/prism.js' %}"></script>
  <script src="{% static 'assets2/assets/bundles/izitoast/js/iziToast.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'assets2/assets/js/page/toastr.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var searchForm = document.getElementById("global-search-form");
        if (searchForm) {
            var path = window.location.pathname;
            var searchInput = searchForm.querySelector("input[name='query']");
            
            // Prefill search input from URL param if available
            var urlParams = new URLSearchParams(window.location.search);
            var queryVal = urlParams.get('query');
            if (queryVal && searchInput) {
                searchInput.value = queryVal;
            }
            
            // Set dynamic action based on path
            if (path.indexOf("/dashboard/list-category/") !== -1) {
                searchForm.action = "{% url 'd_list_category' %}";
            } else if (path.indexOf("/dashboard/list-product/") !== -1) {
                searchForm.action = "{% url 'd_list_product' %}";
            } else if (path.indexOf("/dashboard/list-orders/") !== -1) {
                searchForm.action = "{% url 'd_orders' %}";
            } else {
                searchForm.action = "{% url 'd_list_product' %}";
            }
        }
    });
  </script>
</body>


</html>